download_rate = 0
upload_rate = 0
directory = /home/pi/Downloads
session = /home/pi/.rtorrent-session
pieces.hash.on_completion = no
pieces.hash.on_completion.set = no
schedule = low_diskspace,5,60,close_low_diskspace=100M
port_range = 33110-33110
port_random = no
check_hash = no
encryption = allow_incoming,enable_retry,try_outgoing
dht = off
scgi_port = 127.0.0.1:5000

####### Heavy I/O seedbox configuration - Valid in Raspberry Pi4 4GB 
throttle.min_peers.normal.set = 39
throttle.max_peers.normal.set = 40
throttle.min_peers.seed.set = -1
throttle.max_peers.seed.set = -1
throttle.max_downloads.global.set = 100
throttle.max_uploads.global.set = 250
throttle.max_downloads.set = 50
throttle.max_uploads.set = 50
trackers.numwant.set = 100
dht.mode.set = disable
network.max_open_sockets.set = 999
network.max_open_files.set = 600
network.http.max_open.set = 99
network.receive_buffer.size.set =  4M
network.send_buffer.size.set    = 100M
network.http.ssl_verify_host.set = 0
network.http.ssl_verify_peer.set = 0
pieces.memory.max.set = 2500M
pieces.preload.type.set = 2
pieces.preload.min_size.set = 262144
pieces.preload.min_rate.set = 5120
network.xmlrpc.size_limit.set = 12M
schedule2 = session_save, 1200, 43200, ((session.save))
