system.daemon.set = true
session.use_lock.set = no
directory = /home/pi/Downloads/
session = /home/pi/.rtorrent-session/
scgi_local = /home/pi/.local/rtorrent.sock
encoding.add = UTF-8
check_hash = no
session.on_completion.set = no

pieces.memory.max.set = 1500M
pieces.preload.type.set = 1
pieces.preload.min_size.set = 262144
pieces.preload.min_rate.set = 2048
pieces.hash.on_completion.set = no

network.xmlrpc.size_limit.set = 10M
network.http.dns_cache_timeout.set = 25
network.http.max_open.set = 60
network.max_open_files.set = 2048
network.max_open_sockets.set = 1024
network.send_buffer.size.set = 2M
network.receive_buffer.size.set = 2M

throttle.max_uploads.set = 12
throttle.max_uploads.global.set = 120
throttle.min_peers.normal.set = 30
throttle.max_peers.normal.set = 60
throttle.min_peers.seed.set = 40
throttle.max_peers.seed.set = 120
trackers.numwant.set = 50

dht.mode.set = disable
protocol.pex.set = no
protocol.encryption.set = allow_incoming,try_outgoing,enable_retry
trackers.use_udp.set = no
schedule2 = session_save, 1800, 21600, ((session.save))

network.port_range.set = 33011-33011
network.port_random.set = no
network.http.ssl_verify_peer.set = 0
network.http.ssl_verify_host.set = 0
