[Unit]
Description=rTorrent (OK)
After=network.target mnt-sdb2.mount
Requires=mnt-sdb2.mount
ConditionPathIsMountPoint=/mnt/sdb2

[Service]
Type=forking
KillMode=none
User=root
WorkingDirectory=/home/pi
ExecStartPre=-/bin/rm -f /home/pi/.rtorrent-session/rtorrent.lock
ExecStart=/usr/bin/screen -dmfa -S rtorrent /usr/bin/rtorrent
ExecStop=/usr/bin/killall -w -s 2 /usr/bin/rtorrent
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
