[Unit]
Description=rtorrent (TMUX Otimizado)
After=mnt-sdb2.mount
Requires=mnt-sdb2.mount
ConditionPathIsMountPoint=/mnt/sdb2

[Service]
Type=forking
User=pi
Group=pi
WorkingDirectory=/home/pi
ExecStart=/usr/bin/tmux new-session -d -s rtorrent "/usr/bin/rtorrent"
ExecStop=/usr/bin/tmux kill-session -t rtorrent
Restart=on-failure
LimitNOFILE=8192
KillMode=process
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target
